<div *ngIf="!hide">
  <div>
    <p class="text-subtitle" *ngIf="target">{{target.title || target.name}}</p>
    <p class="text-secondary" [innerHtml]="'Rules.TitleHelp' | translate"></p>
  
    <div class="mb-4">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <div class="dropdown" dropdown>
            <button [translate]="'Rules.AddRule'" dropdownToggle class="btn btn-indigo dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu" *dropdownMenu aria-labelledby="dropdownMenuButton">
              <ng-container *ngFor="let item of configuration.children">
                <a class="dropdown-item" (click)="add($event,item)" href="#">{{ 'Rules.' + item + '.Title' | translate}}</a>
              </ng-container>
            </div>
          </div>
        </div>

        <div *ngIf="!zeroRemainingItems" class="btn-group mr-2 pt-2 pt-md-0" role="group">
          <button [translate]="'Rules.SetComplexRule'"  class="btn btn-indigo" type="button" (click)="openRuleTree()"></button>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngFor="let item of items ;let i = index;">
     <ng-container *ngIf="item.data && item.data.$state != 4">
        <div class="card">
          <div class="card-body">
            <advanced-form-edit #form1 (customEvent)="onCustomEvent($event, form1, i)" [formConfig]="item.form" [(data)]="item.data" ></advanced-form-edit>
          </div>
        </div>
      </ng-container>
  </ng-container>
</div>